apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-api
  namespace: mule-dev
spec:
  replicas: 2   
  selector:
    matchLabels:
      app: order-api
  template:
    metadata:
      labels:
        app: order-api
    spec:
      initContainers:
      - name: fetch-app
        image: curlimages/curl
        command:
          - sh
          - -c
          - |
            curl -L -o /apps/order-api.jar \
            https://github.com/Bharath-mulesoft/mulesoft-CI/releases/download/v1.0.5/order-api-1.0.0.jar
        volumeMounts:
        - name: mule-apps
          mountPath: /apps

      containers:
      - name: mule
        image: bharath2101/mule-runtime:v1
        ports:
        - containerPort: 8082
        volumeMounts:
        - name: mule-apps
          mountPath: /opt/mule/apps

      volumes:
      - name: mule-apps
        emptyDir: {}
