apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-api
  namespace: mule-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-api
  template:
    metadata:
      labels:
        app: order-api
    spec:
      initContainers:
      - name: fetch-app
        image: curlimages/curl
        command:
          - sh
          - -c
          - |
            echo "Downloading Mule artifact..."
            until curl -fL \
              https://github.com/Bharath-mulesoft/mulesoft-CI/releases/download/v1.0.6/order-api-1.0.0-SNAPSHOT-mule-application.jar \
              -o /apps/order-api.jar; do
                echo "Download failed, retrying in 10s..."
                sleep 10
            done
            echo "Artifact downloaded successfully"
        volumeMounts:
        - name: mule-apps
          mountPath: /apps

      containers:
      - name: mule
        image: bharath2101/mule-runtime:v3

        stdin: false
        tty: false

        env:
        - name: JAVA_OPTS
          value: "-Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m -Djava.io.tmpdir=/tmp"

        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1"

        ports:
        - containerPort: 8083

        volumeMounts:
        - name: mule-apps
          mountPath: /opt/mule/apps

      volumes:
      - name: mule-apps
        emptyDir: {}
